.friendList {
    max-width: 432px;
    margin: 0 auto;
    padding: 0;
    background-color:white;
   
   
   
    margin-top: 40px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.item .status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.item .status.online {
    background-color: green;
}

.item .status.offline {
    background-color: red;
}

.item img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.item p {
    margin: 0;
}